.newstyle {
    background-color: red;
}


/* hamburguer menu / responsive menu */

a {
    display: none;
}


nav {
    display: flex;

}


a:first-child {
    display: block;
    text-decoration: none;
    font-size: 2em;
}

.responsive a {
    display: block;
}


@media screen and (min-width: 650px) {
    a:first-child {
        display: none;
    }

    a {
        display: block;
    }

    nav{
        flex-direction: row;
    }
}