@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans&family=Roboto:ital,wght@1,500&display=swap');
body {
    max-width: 70%;
    align-items: center;
    margin: 0 auto;
}

header {
    border-bottom: 0.2em solid black;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

#design p {
    text-align: center;
}

li, a, p {
    font-family: 'Open Sans', sans-serif;
}

ul, ul li, ul li a {
    text-decoration: none;
    list-style-type: none;
    padding: 1em;
    color: black;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home, #target-audience, #design {
    margin: 1em;
    padding: 15em 0.5em;
    border-bottom: 3px solid black;
}

.logo {
    max-width: 10em;
    display: block;
    margin: 0 auto;
}

.color-schema {
    max-width: 40em;
    display: block;
    margin: 0 auto;
}