header, footer {
    background-color: #595959;
    border-radius: 0.5em;
    display: flex;
    margin-bottom: 0.5em;
    padding: 1em;
}

header {
    flex-direction: column;
}

#upper-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header #logo {
    padding: 5px;
}

header h1 {
    text-align: center;
    padding: 10px;
}

header #navigation a {
    color: black;
    padding: 5px;
}

#date {
    max-width: 150px;
}

#sub-header {
    order: 4;
    display: flex;
    justify-content: space-evenly;
}

#sub-header img, #sub-header #date {
    padding: 15px;
}

footer{
    flex-direction: column;
    text-align: center;
}

#hero, #event, #weather, #news-release, #spotlights {
    background-color: #DCE0D9;
    padding: 5em 0;
    margin-bottom: 0.5em;
    border-radius: 2.5%;
    text-align: center;
}

#spotlights div {
    background-color: #DCE0D9;
    padding: 3em;
    border: solid #595959 2.5px;
    border-radius: 0.5em;
}

#logo {
    display: block;
    max-width: 120px;
    max-height: 120px;
    order: 1;
}

header h1 {
    order: 2;
    
}

header .social-media {
    order: 4;
}

header nav {
    order: 3;
}

header #date {
    order: 8;
    flex-basis: 100%;
    height: 0;
}

.social-media {
    max-width: 2em;
}

#footer-img {
    max-width: 250px;
    display: block;
    align-self: center;
}

/*Menu toggle things*/
nav a {
    display: none;
}

nav a:first-child {
    display: block;
    text-decoration: none;
    font-size: 2em;
}

.responsive a {
    display: block;
}




@media screen and (min-width: 800px) {    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #upper-header {
        justify-content: space-evenly;
    }

    header #navigation {
        order: 6;
    }

    #date {
        max-width: 150px;
    }

    #hero, #news-release {
        grid-column: 1/4;
    }

    #spotlights {
        grid-column: 1/4;
        display: flex;
        justify-content: space-evenly;
    }

    #spotlights div {
        min-width: max-content;
    }

    #spotlights h2 {
        display: none;
    }

    #event {
        grid-column: 1/3;
        margin-right: 0.5em;
        grid-row: 5;
    }

    #weather {
        grid-column: 3/4;
        grid-row: 5;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 5em 2em;

    }


@media screen and (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #upper-header {
        display: flex;
        justify-content: space-evenly;
    }

    #upper-header h1 {
        max-width: 150px;
        text-align: center;
    }

    #upper-header #date {
        max-width: 280px;
    }

    #hero {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    #news-release {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-right: 0.5em;
    }

    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #spotlights {
        grid-column: 4/5;
        grid-row: 1/4;
        flex-direction: column;
        margin-left: 0.5em;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 15px;
    }

    nav a:first-child {
        display: none;
    }

}
}