@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #05668D;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #e5f2c9;
}

#logo-container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 25px;
}

#logo {
    max-width: 150px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    font-size: large;
    font-weight: bold;
    margin: 65px 15px;
    display: block;
    padding: 15px;
    height: 0;
}

#socials {
    display: flex;
    justify-content: center;
}

#socials a {
    margin: 55px 15px;
}

#socials img {
    max-width: 60px;
}


#hamburger, #close {
    display: none;
}


/* ------------------------------------------------------------ */

