@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #05668D;
}

header, footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #e5f2c9;
}

#logo-container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 25px;
}

#logo {
    max-width: 150px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    font-size: large;
    font-weight: bold;
    margin: 65px 15px;
    display: block;
    padding: 15px;
    height: 0;
}

#socials {
    display: flex;
    justify-content: center;
}

#socials a {
    margin: 55px 15px;
}

#socials img {
    max-width: 60px;
}


#hamburger, #close {
    display: none;
}


/* ------------------------------------------------------------ */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#images {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/4;
    justify-content: center;
    width: 100%;
    height: 900px;
}

#images img {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#weather {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    justify-content: center;
    text-align: center;
    background-color: #05668D;
    padding: 15px;
}
#weather img {
    margin: 0 auto;
    padding: 15px;
    max-width: 15%;
}

#weather h2, #weather h3, #weather p {
    margin: 0 auto;
}

#information {
    grid-column: 2/4;
    display: grid;
}

#information h2 {
    grid: 1/4;
    text-align: center;
}

#information div {
    display: block;
    max-width: 25%;
}

#news1 {
    
}

#information div img {
    max-width: 350px;
}