@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #05668D;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #e5f2c9;
}

footer {
    justify-content: center;
    text-align: center;
    background-color: #e5f2c9;
}

footer img{
    display: block;
    margin: 0 auto;
}

footer a {
    display: block;
    font-weight: 700;
}

#logo-container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 25px;
}

#logo {
    max-width: 150px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    font-size: large;
    font-weight: bold;
    margin: 65px 15px;
    display: block;
    padding: 15px;
    height: 0;
}

#socials {
    display: flex;
    justify-content: center;
}

#socials a {
    margin: 55px 15px;
}

#socials img {
    max-width: 60px;
}


#hamburger, #close {
    display: none;
}

#form {
    grid-column: 1/4;
}

form {
    text-align: center;
    margin: 50px 25%;
}

label {
    display: block;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
}


/* ------------------------------------------------------------ */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#images {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/4;
    justify-content: center;
    width: 100%;
    height: 900px;
}

#hero-img-1 {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#hero-img-2 {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#hero-img-3 {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#hero-img-4 {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#weather {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    justify-content: center;
    text-align: center;
    background-color: #05668D;
    padding: 15px;
}
#weather img {
    margin: 0 auto;
    padding: 15px;
    max-width: 15%;
}

#weather h2, #weather h3, #weather p {
    margin: 0 auto;
}

#information {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: fit-content;
    object-fit: cover;
}

#information h2 {
    grid-column: 1/4;
    text-align: center;
}

#information div {
    display:flex;
    justify-content: center;
    padding: 10px;
    max-width: fit-content;
}

#news0 {
    grid-column: 1;
}

#news1 {
    grid-column: 2;
}

#news2 {
    grid-column: 3;
}

#information div img {
    max-width: 300px;
    object-fit: cover;
}

#news0, #news1, #news2 {
    flex-direction:column ;
    margin-top: -25px;
}

#your-drinks {
    grid-column: 1/4;
    width: 100%;
    height: 300px;
    justify-content: center;
    text-align: center;
}