body {
    max-width: 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #121212;
}

main {
    grid-column: 2/3;
    background-color: #202124;
    border-radius: 10px;
}

a, li, h1, h2, h3, h4, .last-updated {
    color: #e8eaed;
}

header, footer {
    background-color: #303134;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    grid-column: 2/3;
}

img {
    max-width: 150px;
    grid-column: 1/2;
    border-radius: 10px;
    padding: 20px;
    /*border-radius: 10px;*/
}

footer h1 {
    grid-column: 1/3;
}